@import "tailwindcss";



/* ===============================
   CSS VARIABLES
================================ */

:root {
  --background: #ffffff;

}


html {
  scroll-behavior: smooth;
}

/* Remove tap highlight on mobile */
* {
  -webkit-tap-highlight-color: transparent;
}
